<div class="tasks-wrapper">
	<%= live_render(@conn, SevenGuiTasksLiveviewWeb.Tasks.Counter) %>
	<%= live_render(@conn, SevenGuiTasksLiveviewWeb.Tasks.Temperature) %>
	<%= live_render(@conn, SevenGuiTasksLiveviewWeb.Tasks.FlightBooker) %>
	<%= live_render(@conn, SevenGuiTasksLiveviewWeb.Tasks.Timer) %>
</div>
